# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Scripts.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Timothy\Documents\Projects\Unity\SBT_Authoring\SBT_Authoring\Assets\Scripts\.idea\.idea.Scripts.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
